{% extends 'base.html' %}

{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img"  src="{{ '/static/profile_pics/' + post.author.image_file }}"><a class="mr-2" href="{{ url_for('user_posts', user_id=post.author.id) }}">{{ post.author.username }}</a>

                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
                {% if post.author == current_user %}
                    <a type="button" class="btn btn-primary" href="{{ url_for('edit', post_id=post.id) }}" >Edytuj</a>
                    <a type="button" class="btn btn-danger"  href="{{ url_for('delete', post_id=post.id) }}" >Usuń</a>
                {% endif %}
          </div>
        </article>
       <hr>
            {% if current_user.is_authenticated %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_comment', post_id=post.id) }}">Skomentuj</a>
                </div>
            {% endif %}
    {% if comments!=[] %}
        <h1>All coments</h1>
        <article class="media content-section">
        {% for comment in comments %}
            <div class="media-body">
            <div class="article-metadata">
                <a class="article-content" >{{ comment.commentator.username }}</a>
                <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if comment.commentator == current_user %}
                    <a type="button" class="btn btn-outline-primary btn-sm" href="{{ url_for('edit_comment', post_id=post.id, comment_id=comment.id) }}" >Edit</a>
                {% endif %}
            </div>
                <p class="article-content">{{ comment.content }}</p>
            </div>

            {% endfor %}
        </article>
    {% endif %}
{% endblock %}